<!-- https://www.publicalbum.org/blog/embedding-google-photos-albums -->

<script
  src="https://cdn.jsdelivr.net/npm/publicalbum@latest/dist/pa-embed-player.min.js"
  async
></script>
<div
  class="pa-embed-player"
  style="width: 100%; height: 480px; display: none"
  data-link="https://photos.app.goo.gl/i2uFSuWHk9T1fm538"
  data-title="Holmevann"
  data-description="Et utvalg bilder fra området rundt hytta, sommer som vinter"
>
  <img
    data-src="https://lh3.googleusercontent.com/pPidpWF7Ohs34_uKTgbkUuUNQfi665skQcnyxQLT7kezd3LsSqahZ3nukdI9v5W5Kqoi9uB-vbCLSkBCDaQJ6lCzNOW_Xxg9CvJ-Pko5r07FxuvtYJ1VTlXtjwW2W9o_cLwYVaqmzOE=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/NxvzHoaVYESJPS6fekzh9CPu9-BFOaW3xoQrxHtej-LHdUUNUSfXD4R5IXYDSXvCbUoxU3_vYT86o49Keps5Hgmv__mAj0wWi80-aKEixwSraPipbun-sJf2q4ICRggTUjgcyyI6u0s=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/ZQ8Z7U8c1AQrivbJM-Lks3bwY1v-edMdPBkTblHvWmlFgNaGPon4_JWxv8xR7Wf7MkDkIUWTTtpcmav9GvDUCl__g_HrVcQhdkA5wNSqhCMSSz_bUW6V0tsPxI7PFRSw5-VLlJxnup4=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/yrRCCddcNZG9acKnOPOJxJSa6wjzArSpTIWov9RDugezssnBYuROcvIb0dB-yn39ft6I03Wx3P5QZF84Nqj5BVz-ZJGmxI4vUmGI_Si9LRe2oJ4AEkUggSRE6-FgeS_AfqE2D_UOVLY=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/wKQmKgNJQgowsxeiOekmF-voaTluW9yQyuU052RETA9_AFgfIDZZykpaEE0bJeKWG0FaEf-hBaVx3FJcwD4girNXDLoy36LqinHf82ejrMd30N7VTmJm1Lt2DKAcW_qwHzUHfdjQ-FQ=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/nMhB3SFeDxmqjZj9nXIKyuarx4ZkSdqFO-L9a4VqVNIDZp180WCgFxhXSYXpzUhIxxrXJSKwmconXDpiJXl9KBC4zlIL2u4FxrsmuQmPB8SsSoG4NzVqO3FyizqLJRMpnQxSQjZiFSA=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/N5rgJJUZFBYa-79trYJWztPV4ezapnXbAvTpcckYHfevSfX65uAn19XGIz4VbO1iz-DwpC2p5xYKv3KS3k6I35WK8j0ClabrGZNV9wsPVEe6HQdZbQFhpCPxokAGS7fB4qv4ZJ-y54M=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/UhWMyckRd27TWOCNAQm-6G1pBcwmdsh6W52v0481KXBf4q1RbvdpsXLspvCpvZho40b6FDlvoJhlbv4Y9o50o1D8BwXUPFYYfGQPITnvgPQbrtal2sRq3fh0EC6-uPp8VERc1W0FLV4=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/bi7nfDzi_uB-fUjTEsrymeidPODyoeQE5UBx1Ky9T6RvJvCXwpXRK7NXq1qcZ3aeDyD3m3U7zWyOGmYWhqz3y4YQFCYBTuEuA84wg6GfnrwwCLjOvJVsQXE97dXthUhLbEkb5RKJh70=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/a33_70xJ1o6XX1T4QskKYYWSyVDYZvkcpkZRtnlnc5PMYtw7gDrWFdVTZk_qRcBSVOLvtt60yokVsEQWo0dNweDSrnuJ4wMeZ-S_xPK0JsT43k2LnQJoj7o59crV1CReqYo7k8DLDEc=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/1solDMD9UooXPZfe2UIYrsxnJApLNOQUXmX8hi2kFPYZrj-CTIx27lULe3yCDAKpK5RSjlCSrGP3ReHeecC7dy49lR7-l2sWvmA023KC1qscXLMNclqNmZr_qAvlynb4O6NEI_IFfFI=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/ElzqU_pWSQeEB-5f_Nxcli8XqO3GmmlHwO2rY8fiAofmMRRuyRjapI48MFD1i6WOD65-ng6GaGOqdsbRvRTHdabnt4XnQMthc4SWFASi4K1l--q7NIHMTwhI4tk0Mu4yh_BuqCwcod8=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/5z-0V7vmxJv5tz5Fih0VJp79sJkJy8xXpRUWpVXLtXD6o5dy2zMRzPgta6eqXhpgHkyjbSkTxpLB-51EY3jijANj-AWJcI4jQKIsHub2u4WDBmsG-G5_tYRyXYBY8ZPtW0KaP5fsKh4=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/-O3N6lu3t8QEFsqmEhVQrgp1KRCc-6enfpNqH6z30uImEvvmzaWbChDDuwTcAkHcSoK2pka0SoG_Hi1KFIFW8SJHOC2Eu45J16bUERjOspL1JhRunHkY-pIiWz3UfXix4ruOT6ehnAU=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/l-GOjBvM_xSNzeh3AZDhuE9bZop6qKnMoPUswxcFK17ntNUVDN2N0VFOm4C8kVBSTOfWg0xPc_l6vUwZowESBV7uQdLdw8QlcKkayHXcoihxLw3dXr7yCmMIj6dxrT9Tc8VD7dZq5jQ=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/niiyUB6rVuCeHDeftFtrjaF28qcs9GYKAKFo9zVvapJEDhjpAzAqXqDYRfP5mp8XGVLxk85SY8nzuCSa6ieYZ1dn5dTUnN9tTgpF3YguHtV_L1WQ-Qrc-cvnr3v7Kshwaw8TI0a3Tvo=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/w9HcgTMjv9YT4MHhTepPUBYA9EdEpRCMExVm5bpgN-GDapRaD0dZusqJqCUkC7yRMrT-bu-U27w2QsObQv1EQTA392SK503ENjxcyuy_pJPNRpdTE4ap3Umn27IaFh3KSt2wR9YscYc=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/2UEme-4kqpg5h3EtaWVo8Jgx2alr-32qJ1RG7w8vxD857WaXXr9-hvbM34-m0YdrfeP_G50esU3y9SOBqMEstBZqQPvkr5_oipuyl5umKwehZiQBaRnTwfD1JI-LSn08grWBXgcr_N4=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/yEzS0oODo1ugEE4dfAaLA6RWYVAvRbHv7J7rJ9iSivqMkyJoGRwsiyKHvETwWTXtyAGtvLFDIP0PdfL7pYBui-JlTqMYAKRMzv937bGGvHC1X9dhU9KdDEFiy9v_shzCfVljjrXZG40=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/TEJlXzQf45D2LIFxVNvtqpkho8-tDSEBkutE_1SD4tqdEqw4ryLev-OnOh1HcuGWQd4jFzPqRc72iRKVVgt2VupLRpfi0EdL7uxjmlWRMJoH6rK8CGqV7_aMdivFOAktixEY46wEAqI=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/j5zNalDCD6XFw-dP3kRxulBRCMZO6bqaXmeXPMdUogy2oxMHKGkWiGTRa1_QZ0EkcZ4E5dQD5nrEsbVsvODkIp_1ryS42P6WWB40FfuYHFmzOsBi6TbQjj_UwD3iVnBrhncX9oBQ8IA=w1920-h1080"
    src=""
    alt=""
  />
  <img
    data-src="https://lh3.googleusercontent.com/xk-s31NhzjV09Y5RAaum3yEWZs3hCOupubLS-u95QwHZK3CVBjPetdEpOThQggF1ytl8lokYvox-tWaOSTsbK-KzAiwHRuDe0DNsBS12VL2RVXILxcnl0-JTvu1kjtpvICF5YPVe-kc=w1920-h1080"
    src=""
    alt=""
  />
</div>
